<div class="container card mb-5 w-75">
  <div class="card-body">
    <aw-wizard #wizard>

      <aw-wizard-step stepTitle="General" style="min-height: 120px;">
        <app-general-step (generalDescription)="selectGeneral($event)"></app-general-step>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Race" style="min-height: 120px;">
        <app-race-step (race)="selectRace($event)"></app-race-step>
        <div class="row justify-content-center mt-2">
          <div class="col-lg-10 col-xs-12">
            <button type="button" class="btn btn-primary" awPreviousStep>Back</button>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Class" style="min-height: 120px;">
        <app-class-step (characterClass)="selectClass($event)"></app-class-step>
        <div class="row justify-content-center mt-2">
          <div class="col-lg-10 col-xs-12">
            <button type="button" class="btn btn-primary" (click)="goBack('toRace')">Back</button>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Stats" style="min-height: 120px;">
        <div *ngIf="selectedRace">
          <app-stats-step (statsResult)="selectStats($event)" [race]="selectedRace"></app-stats-step>
        </div>
        <div class="row justify-content-center mt-2">
          <div class="col-lg-11 col-xs-12">
            <button type="button" class="btn btn-primary" awPreviousStep>Back</button>
          </div>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Weapons" style="min-height: 120px;">
        <div *ngIf="isWeaponsStep">
          <app-weapon-step (back)="goBack()" (submitWeapons)="selectWeapons($event)"></app-weapon-step>
        </div>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Spells" style="min-height: 120px;">
        <div *ngIf="isSpellStep">
          <app-spell-step (back)="goBack()" (submitSpells)="selectSpells($event)"></app-spell-step>
        </div>
      </aw-wizard-step>

      <aw-wizard-completion-step stepTitle="Done" style="min-height: 120px;">
        <div class="text-center complete-message-centered">
          <h2 class="mb-2">Character created successfully</h2>
        </div>
      </aw-wizard-completion-step>

    </aw-wizard>
  </div>
</div>
