<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="row justify-content-center ">
        <div class="card-body col-6 ">
          <h5 class="mb-4 text-center">Attack</h5>
          <form [formGroup]="attackForm" #form="ngForm" (ngSubmit)="onSubmit()" novalidate class="tooltip-label-right">
            <div class="form-group">
              <label for="name">{{ 'forms.name' | translate }}</label>
              <input type="text" class="form-control" formControlName="name" id="name">
              <div *ngIf="attackForm.get('name').errors?.required && form.submitted" class="invalid-tooltip">Stat is required</div>
            </div>
            <div class="form-group">
              <label for="dis-description">{{ 'forms.description' | translate}}</label>
              <textarea class="form-control" rows="4" formControlName="description" id="dis-description"></textarea>
              <div *ngIf="attackForm.get('description').errors?.required && form.submitted" class="invalid-tooltip">Description is required!</div>
              <div *ngIf="attackForm.get('description').errors?.minlength && form.submitted" class="invalid-tooltip">Description must contain at least 5 characters!</div>
            </div>
            <div class="form-group">
              <label for="range">{{ 'forms.range' | translate }}</label>
              <input type="number" class="form-control" formControlName="range" id="range">
              <div *ngIf="attackForm.get('range').errors?.required && form.submitted" class="invalid-tooltip">Range is required</div>
              <div *ngIf="attackForm.get('range').errors && form.submitted" class="invalid-tooltip">Range should be more then 10</div>
            </div>
            <div class="form-group">
              <label for="damageDice">{{ 'forms.damage-dice' | translate }}</label>
              <ng-select [items]="dices" formControlName="damageDice" id="damageDice">
              </ng-select>
              <div *ngIf="attackForm.get('damageDice').errors?.required && form.submitted" class="invalid-tooltip">Damage dice is required</div>
            </div>
            <div class="form-group">
              <label for="damageBonus">{{ 'forms.damage-bonus' | translate }}</label>
              <input type="number" class="form-control" formControlName="damageBonus" id="damageBonus">
              <div *ngIf="attackForm.get('damageBonus').errors?.required && form.submitted" class="invalid-tooltip">Damage bonus is required</div>
              <div *ngIf="attackForm.get('damageBonus').errors && form.submitted" class="invalid-tooltip">Damage bonus should be between 0 and 10</div>
            </div>
            <div class="form-group">
              <label for="hitChanceBonus">{{ 'forms.hit-chance-bonus' | translate }}</label>
              <input type="number" class="form-control" formControlName="hitChanceBonus" id="hitChanceBonus">
              <div *ngIf="attackForm.get('hitChanceBonus').errors?.required && form.submitted" class="invalid-tooltip">Hit chance bonus is required</div>
              <div *ngIf="attackForm.get('hitChanceBonus').errors && form.submitted" class="invalid-tooltip">Hit chance bonus should be between 0 and 10</div>
            </div>
            <div class="form-group">
              <label for="effect">{{ 'forms.effect' | translate }}</label>
              <input type="text" class="form-control" formControlName="effect" id="effect">
            </div>
            <div class="form-group">
              <label for="notes">{{ 'forms.notes' | translate }}</label>
              <input type="text" class="form-control" formControlName="notes" id="notes">
            </div>
            <div class="form-group">
              <label for="attackType">Attack Type</label>
              <input type="text" class="form-control" formControlName="attackType" id="attackType">
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
