<div class="loading" *ngIf="isLoading"></div>
<div class="container w-xs-100 w-75" *ngIf="!isLoading">
  <div class="card mb-3">
    <div class="card-title row col-lg-12 mx-0 my-0 align-items-center py-2">
      <h1 class="font-weight-bold text-primary my-0 py-0">{{character.name}}&nbsp;</h1>
      <h5 class="mt-2 ml-2">-{{character.race.name}}&nbsp;</h5>
      <h5 class="mt-2 ml-1">-{{character.clazz.name}}&nbsp;</h5>
      <h5 class="mt-2 ml-1">-Level:&nbsp;{{character.level}}</h5>
      <div class="ml-auto mr-0">
        <button type="button" class="btn btn-outline-primary px-3 py-2 mb-1" (click)="showDescription()">Description</button>
      </div>
    </div>
  </div>
  <app-character-stats [stats]="character.stats"
                       (rollDice)="rollDice($event)"></app-character-stats>
  <div class="separator mb-3"></div>
  <app-basic-information [initiative]="character.initiative"
                         [armor]="character.armor"
                         [curHP]="character.currentHitPoints"
                         [maxHP]="character.maxHitPoints"
                         [availableSpellCharges]="character.availableSpellCharges"
                         [maxSpellCharges]="character.maxSpellCharges"
                         [gold]="character.gold"
                         (rollDice)="rollDice($event)"
                         (hpChanged)="changeHp($event)"
                         (castSpellBtn)="castSpell()"></app-basic-information>
  <app-character-actions [weapons]="character.weapons"
                         [spells]="character.spells"
                         [stats]="character.stats"
                         (weaponHitChance)="rollDice($event)"
                         (rollDamageEvent)="rollDamageDice($event)"></app-character-actions>
</div>

<simple-notifications></simple-notifications>
