<div class="row main-background">
  <div class="container">
    <div class="mb-4">
      <img alt="detail" src="/assets/img/dnd-adventure-logo-big.png" class="w-75 h-75 mx-auto d-block"/>
    </div>
    <div class="card">
      <div class="card-body">
        <p class="text-center font-weight-bolder display-4">Welcome to DnD Adventure</p>
        <h1>
          If you would like to join an adventure in Dungeons and Dragons just
          <a class="badge badge-pill badge-outline-primary mb-1" routerLink="/user/register">Create Account</a>
          or if you already have joined an adventure, you can continue it by
          <a class="badge badge-pill badge-outline-primary mb-1" routerLink="/user/login">Login</a>
          in to your account.
        </h1>
      </div>
    </div>
  </div>
</div>
