<div class="row">
  <div class="col-12">
    <div class="container card mb-4 w-75">
      <div class="row justify-content-center ">
        <div class="card-body col-9 ">
          <h5 class="mb-4 text-center">{{ 'forms.race' | translate }}</h5>
          <form [formGroup]="raceForm" #form="ngForm" (ngSubmit)="onSubmit()" novalidate class="tooltip-center-top">
            <div class="form-group">
              <label>{{ 'forms.name' | translate }}</label>
              <input type="text" class="form-control" name="name" formControlName="name">
              <div *ngIf="raceForm.get('name').errors?.required && form.submitted" class="invalid-tooltip">Name is required!</div>
              <div *ngIf="raceForm.get('name').errors?.minlength && form.submitted" class="invalid-tooltip">Name must contain at least 3 characters!</div>
            </div>
            <div class="form-group">
              <label>{{ 'forms.description' | translate }}</label>
              <textarea class="form-control" rows="4" formControlName="description"></textarea>
              <div *ngIf="raceForm.get('description').errors?.required && form.submitted" class="invalid-tooltip">Description is required!</div>
              <div *ngIf="raceForm.get('description').errors?.minlength && form.submitted" class="invalid-tooltip">Description must contain at least 5
                characters!
              </div>
            </div>
            <label>Advantages:</label>
            <accordion [closeOthers]="false" [isAnimated]="true">
              <accordion-group *ngFor="let advantage of raceForm.get('advantages')['controls']; let i = index"
                               [panelClass]="'border'" [isOpen]="true">
                <div accordion-heading>
                  <div class="row">
                    <span class="align-self-center">Advantage {{i + 1}}</span>
                    <div class="ml-auto mr-3">
                      <button class="btn btn-outline-primary p-2" type="button" (click)="removeAdvantage(i)">{{ 'forms.remove' | translate }}</button>
                    </div>
                  </div>
                </div>
                <div formArrayName="advantages">
                  <div [formGroupName]="i">
                    <div class="form-group">
                      <label for="name">{{ 'forms.name' | translate }}</label>
                      <input type="text" class="form-control" name="name" formControlName="name" id="name">
                      <div *ngIf="advantage.get('name').errors?.required && form.submitted" class="invalid-tooltip">Advantage name is required!</div>
                      <div *ngIf="advantage.get('name').errors?.minlength && form.submitted" class="invalid-tooltip">Advantage name must contain at least 3
                        characters!
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="description">{{ 'forms.description' | translate}}</label>
                      <textarea class="form-control" rows="2" formControlName="description" id="description"></textarea>
                      <div *ngIf="advantage.get('description').errors?.required && form.submitted" class="invalid-tooltip">Advantage description is required!
                      </div>
                      <div *ngIf="advantage.get('description').errors?.minlength && form.submitted" class="invalid-tooltip">Advantage description must contain
                        at least 5 characters!
                      </div>
                    </div>
                  </div>
                </div>
              </accordion-group>
            </accordion>
            <div class="mt-2 mb-2">
              <button class="btn btn-outline-primary" type="button" (click)="addAdvantage()">{{ 'forms.add' | translate }}</button>
            </div>

            <label>Disadvantages:</label>
            <accordion [closeOthers]="false" [isAnimated]="true">
              <accordion-group *ngFor="let disadvantage of raceForm.get('disadvantages')['controls']; let i = index"
                               [panelClass]="'border'" [isOpen]="true">
                <div accordion-heading>
                  <div class="row">
                    <span class="align-self-center">Disadvantage {{i + 1}}</span>
                    <div class="ml-auto mr-3">
                      <button class="btn btn-outline-primary p-2" type="button" (click)="removeDisadvantage(i)">{{ 'forms.remove' | translate }}</button>
                    </div>
                  </div>
                </div>
                <div formArrayName="disadvantages">
                  <div [formGroupName]="i">
                    <div class="form-group">

                      <label for="dis-name">{{ 'forms.name' | translate }}</label>
                      <input type="text" class="form-control" name="name" formControlName="name" id="dis-name">
                      <div *ngIf="disadvantage.get('name').errors?.required && form.submitted" class="invalid-tooltip">Disadvantage name is required!</div>
                      <div *ngIf="disadvantage.get('name').errors?.minlength && form.submitted" class="invalid-tooltip">Disadvantage name must contain at least
                        3 characters!
                      </div>

                    </div>
                    <div class="form-group">
                      <label for="dis-description">{{ 'forms.description' | translate}}</label>
                      <textarea class="form-control" rows="2" formControlName="description" id="dis-description"></textarea>
                      <div *ngIf="disadvantage.get('description').errors?.required && form.submitted" class="invalid-tooltip">Disadvantage description is
                        required!
                      </div>
                      <div *ngIf="disadvantage.get('description').errors?.minlength && form.submitted" class="invalid-tooltip">Disadvantage description must
                        contain at least 5 characters!
                      </div>

                    </div>
                  </div>
                </div>
              </accordion-group>
            </accordion>
            <div class="mt-2 mb-2">
              <button class="btn btn-outline-primary" type="button" (click)="addDisadvantage()">{{ 'forms.add' | translate }}</button>
            </div>

            <div class="form-group error-l">
              <label><span>{{ 'forms.modifiers' | translate }}</span></label>
              <ng-select [items]="modifiers" [multiple]="true" bindLabel="name" bindValue="uuid" formControlName="modifiers" [closeOnSelect]="true">
              </ng-select>
              <div *ngIf="raceForm.get('modifiers').errors?.required && form.submitted" class="invalid-tooltip">There should be at least one modifier</div>
            </div>
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" type="submit">{{ 'forms.submit' | translate }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
