<div class="container card">
  <div class="card-body p-0 pt-3">
    <pagination [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
                [(ngModel)]="currentPage" (pageChanged)="changePage($event)" class="justify-content-center"
                [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
    </pagination>
  </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
  <i class='simple-icon-arrow-left'></i>
</ng-template>
